*{
    margin: 0;
    padding: 0;
}
.menu > span{
    background-color: coral;
    width: 100px;
    height: 30px;
    margin-left: 2px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}
span:hover{
    background-color: lightskyblue;
    color: white;
}
.menu-block > span{
    display: block;
}